/* Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4) */
*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

::before,
::after {
  --tw-content: '';
}

/* Use consistent, sensible font settings in all browsers */
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
}

/* Remove the margin in all browsers */
body {
  margin: 0;
  line-height: inherit;
}


/* Remove the default font size and weight for headers */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* For opt-in styling */
a {
  color: inherit;
  text-decoration: inherit;
}


/* Remove default padding, margins and fonts */
button,
input,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

/* Remove default button styles */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  background-color: transparent;
  background-image: none;
  text-transform: none;
}

/* Remove default margins */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Ensure curser is a pointer when interacting with buttons */
button,
[role="button"] {
  cursor: pointer;
}

/* Ensure curser is not a pointer when interacting with disabled buttons */
:disabled {
  cursor: default;
}

/* Remove default behaviour */
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {

  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {

  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {

  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {

  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {

  .container {
    max-width: 1536px;
  }
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-8 {
  margin-top: 2rem;
}

.button-blue {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));

  &:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(37 99 235 / var(--tw-bg-opacity));
  }
}

.button-green {
  --tw-bg-opacity: 1;
  background-color: rgb(34 197 94 / var(--tw-bg-opacity));

  &:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(21 128 61 / var(--tw-bg-opacity));
  }
}

.button-red {
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity));

  &:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(185 28 28 / var(--tw-bg-opacity));
  }
}

.bg-grey-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(107 114 128 / var(--tw-bg-opacity));
}

.bg-grey-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(75 85 99 / var(--tw-bg-opacity));
}

.bg-grey-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}

.bg-gray-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;

  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));

  height: 2.5rem;
  border-radius: 0.5rem;

  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;

    /* Check colour for consistancy */
    --tw-bg-opacity: 1;
    background-color: rgb(75 85 99 / var(--tw-bg-opacity));
  }
}

.button-square {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.375rem;

  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

div {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.full-view {
  min-height: 100vh;
}

.w-80 {
  width: 80%;
}

.w-full {
  width: 100%;
}

.title {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;

  margin-bottom: 1.5rem;
}

.subtitle {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;

  margin-bottom: 1rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;

  margin-bottom: 0.5rem;
}

.card-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;

  margin-bottom: 0.5rem;
}

.nav-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.w-12 {
  width: 3rem;
}

.justify-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
}

.h-65 {
  /* height: 65%; */
  height: 9rem;
}

.h-35 {
  /* height: 35%; */
  height: 4rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.items-center {
  display: flex;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-gap-6 {
  gap: 1.5rem;
}

.card {
  border-width: 1px;
  border-radius: 0.5rem;

  --tw-bg-opacity: 1;
  background-color: rgb(107 114 128 / var(--tw-bg-opacity));
}

.rounded {
  border-radius: 0.5rem;
}

.border {
  border-width: 1px;
}

.pad-4 {
  padding: 1rem;
}

.pad-6 {
  padding: 1.5rem;
}

.padx-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.padx-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.padx-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.padx-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.rounded-top {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.rounded-bottom {
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.mt-8 {
  margin-top: 2rem;
}

.w-6 {
  width: 1.5rem;
}

.w-8 {
  width: 2rem;
}

.h-6 {
  height: 1.5rem;
}

.h-8 {
  height: 2rem;
}

.h-20 {
  height: 5rem;
}

.p-4 {
  padding: 1rem;
}

.pl-8 {
  padding-left: 2rem;
}

.pady-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.pady-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.pady-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.justify-center {
  justify-content: center;
}

.text-grey {
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity));
}

.border-grey {
  --tw-bg-opacity: 1;
  border-color: rgb(55 65 81 / var(--tw-bg-opacity));
}

.max-h-96 {
  max-height: 24rem;
}

.button-text {
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity));

  &:hover {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
}

.sidebar-grid {
  display: grid;
  grid-template-columns: 280px 1fr;
}

.border-bottom {
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(55 65 81 / var(--tw-border-opacity));
}

.border-right {
  border-right-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(55 65 81 / var(--tw-border-opacity));
}

.h-15 {
  height: 3.75rem;
}

.items-center {
  display: flex;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.padx-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-dark-grey {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.ml-auto {
  margin-left: auto;
}

.bg-grey-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}

.bg-grey-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}

.bg-grey-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}

.bg-green-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(34 197 94 / var(--tw-bg-opacity));
}

.bg-green-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(16 185 129 / var(--tw-bg-opacity));
}

.bg-red-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity));
}

.bg-blue-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}

.layer-button {
  padding: 8px 16px;
  background-color: rgb(31 41 55);
  color: #cbd5e0;
  /* border: 1px solid #2d3748; */
  /* border-radius: 4px; */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  width: 80%;
}

.layer-button:hover {
  background-color: #2d3748;
  color: #ffffff;
}

.layer-button.selected {
  background-color: #48bb78;
  color: #1a202c;
}

.button-divider {
  border: 0.1rem solid #ffffff;
  /* margin: 4px 0; */
  width: 80%;
}

/* Centre the popUp window and bring in front */
.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

/* Style the popUp content */
.popup-content {
  margin: 15% auto;
  padding: 2rem;
  width: 50%;

  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}

.border-red {
  --tw-bg-opacity: 1;
  border-color: rgb(239 68 68 / var(--tw-bg-opacity));
}

.rounded-full {
  border-radius: 9999px;
}

.mt-375 {
  margin-top: 0.375rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ml-0 {
  margin-left: 0rem;
} 

.progress-bar {
  --tw-bg-opacity: 1;
  background-color: rgb(107 114 128 / var(--tw-bg-opacity));

  border-radius: 9999px;
  border-width: 0.125rem;

  --tw-bg-opacity: 1;
  border-color: rgb(55 65 81 / var(--tw-bg-opacity));

  width: 90%;
}

.text-semi-bold {
  font-weight: 600;
}