<!doctype html>
<html lang="en">

<!-- TODO: Allow the user to change the network name (networkId) -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/layout.css">
    <title>This totally works</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" sizes="16x16">
    <script src="/static/index2.js"></script>
    <!-- Sortable library for drag-and-drop animation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
</head>

<script>
    // TODO: Remove layers as a global variable
    let layers = {};

    // TODO: Remove inputSize and outputSize as global variables
    let inputSize = 0;
    let outputSize = 1;

    var flaskData = JSON.parse('{{ data | tojson }}');

    console.log(flaskData);

    if (flaskData.layers) {
        layers = flaskData.layers;
    }

    if (flaskData.inputSize) {
        inputSize = flaskData.inputSize;
    }

    console.log(layers, inputSize, outputSize)

</script>

<body>
    <div class="sidebar-grid full-view bg-grey-900">

        <!-- Sidebar -->
        <div class="border-right bg-grey-800">
            <div class="flex-col gap-2">

                <!-- Back Button -->
                <div class="h-15 items-center border-bottom padx-6 button-text">
                    <a class="items-center gap-2" onclick="redirectIndex()">
                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path d="m12 19-7-7 7-7"></path>
                            <path d="M19 12H5"></path>
                        </svg>
                        <span>Back to Network Menu</span>
                    </a>
                </div>

                <!-- Network Configuration Title -->
                <div class="h-15 items-center border-bottom padx-6 button-text">
                    <a class="items-center gap-2" href="#">
                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round">
                            <polyline points="16 18 22 12 16 6"></polyline>
                            <polyline points="8 6 2 12 8 18"></polyline>
                        </svg>
                        <span>NeuralNet Config</span>
                    </a>
                </div>

                <!-- Network Layer Overview -->
                <div class="pady-2 padx-4">
                    <nav class="grid text-sm gap-2">
                        <div id="inputLayer"
                            class="navMargin flex items-center gap-3 rounded bg-grey-700 padx-3 pady-2 text-grey transition-all hover:text-white cursor-move"
                            onclick="selectLayer('inputLayer')">

                            <!-- Layer Name -->
                            Input Layer
                        </div>
                    </nav>
                    <nav class="grid text-sm gap-2" id="layersView"></nav>
                    <nav class="grid text-sm gap-2">
                        <div id="outputLayer"
                            class="navMargin flex items-center gap-3 rounded bg-grey-700 padx-3 pady-2 text-grey transition-all hover:text-white cursor-move"
                            onclick="selectLayer('outputLayer')">

                            <!-- Layer Name -->
                            Output Layer
                        </div>
                    </nav>
                </div>

                <!-- Add Layer Button -->
                <div class="padx-4">
                    <button class="button button-blue w-full bg-blue-500" type="button"
                        onclick="togglePopup('newLayerPopup')">
                        Add a new layer
                    </button>
                </div>

                <div id="newLayerPopup" class="popup" style="display: none;">
                    <div class="popup-content card pad-4 flex-col items-center">
                        <h1 class="subtitle mb-4">
                            Pop-up Window</h1>
                        <div class="flex-col items-center w-full">
                            <button class="layer-button" onclick="selectLayerType('Dense Layer', 'dense')"
                                id="newLayerSelection-dense">Dense
                                Layer</button>
                            <hr class="button-divider">
                            <button class="layer-button" onclick="selectLayerType('Recurrent Layer', 'recurrent')"
                                id="newLayerSelection-recurrent">Recurrent Layer</button>
                        </div>
                        <div class="flex justify-between mt-4">
                            <button class="button button-green mr-2" type="submit" id="newLayerPopupAddButton" disabled>
                                Add
                            </button>
                            <button class="button button-red bg-red-500" type="submit"
                                onclick="togglePopup('newLayerPopup')">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Layer Configuration Window -->
        <div class="flex-col gap-8 pad-6 text-grey">

            <!-- Layer Configuration Title -->
            <div class="flex items-center">
                <h1 class="subtitle" id="layerConfigurationTitle">
                    Layer Configuration
                </h1>
            </div>

            <!-- Layer Configuration Options Subwindow -->
            <div class="card bg-grey-800 border-grey">
                <div class="pad-4" id="layerConfigurationOptionsWindow" hidden>

                    <!-- Error Message -->
                    <div class="border border-red mb-4 rounded bg-red-500" id="ConfigurationErrorBox">
                        <p class="text-white p-4" id="ConfigurationErrorBoxHeader">
                            Invalid Layer Configuration
                        </p>
                        <ul style="list-style-type: disc; margin-top:-30px;" class="text-white p-4 pl-8"
                            id="ConfigurationErrorBoxList">
                        </ul>
                    </div>

                    <!-- Interactable Layer Option -->
                    <form>
                        <!-- Input Size-->
                        <div class="mb-4" id="inputSizeInputContainer">
                            <label class="text-sm text-grey">
                                Input Size
                            </label>
                            <input type="number" class="button border bg-grey-700 text-gray-300 w-full" id="inputSize">
                        </div>

                        <!-- Output Size -->
                        <div class="mb-4" id="outputSizeInputContainer">
                            <label class="text-sm text-grey">
                                Output Size
                            </label>
                            <input type="number" class="button border bg-grey-700 text-gray-300 w-full" id="outputSize">
                        </div>

                        <!-- Activation Selection -->
                        <div class="mb-4" id="activationInputContainer">
                            <label class="text-sm text-grey">Activation Function</label>
                            <div>
                                <select class="button border bg-grey-700 text-gray-300 w-full" id="activation">
                                    <option value="sigmoid">Sigmoid</option>
                                    <option value="tanh">Tanh</option>
                                </select>
                            </div>
                        </div>

                        <!-- Save Layer Configuration -->
                        <button class="button button-green bg-green-500 mr-4" type="submit"
                            onclick="saveLayerConfiguration('')" id="saveLayerConfigurationButton">
                            Save
                        </button>

                        <!-- Delete Layer -->
                        <button class="button button-red bg-red-500" type="submit" onclick="deleteLayer()"
                            id="deleteLayerConfigurationButton">
                            Delete Layer
                        </button>
                    </form>
                </div>

                <!-- Layer Configuration Placeholder -->
                <div class="justify-flex h-96" id="layerConfigurationPlaceholder">
                    <p class="text text-grey pad-4">
                        Select a layer to configure it
                    </p>
                </div>

            </div>
        </div>
    </div>

    <script>
        // Enable Sortable.js
        const layersView = document.getElementById("layersView");

        // Initialise Sortable on the layersView container
        const sortable = new Sortable(layersView, {
            animation: 150,
            handle: ".handle",
            onUpdate: (evt) => updateLayerOrder(evt),
        });

        // Load new network configuration
        loadNetwork(layers);
    </script>

</html>