<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/layout.css">
    <title>This totally works</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" sizes="16x16">
    <script src="/static/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
</head>

<script>
    // Socket must be a global variable so that it can be 
    // accessed by other scripts and will remain open
    let socket = initTrainingSocket();

    loadNetworks();
</script>

<body style="background-color: #1f2937;">
    <div class="bg-grey-800 full-view">

        <!-- Header -->
        <header class="h-20 w-full items-center padx-6">

            <!-- Logo -->
            <div>
                <a class="flex pad-4" href="#">
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path d="M4 15s1-1 4-1 5 2 8 2 4-1 4-1V3s-1 1-4 1-5-2-8-2-4 1-4 1z"></path>
                        <line x1="4" x2="4" y1="22" y2="15"></line>
                    </svg>
                </a>
            </div>

            <!-- Title -->
            <div class="nav-title ml-2">
                Neural Networks
            </div>

            <nav class="justify-flex"></nav>

            <!-- User Profile -->
            <div>
                <button class="button button-square border">
                    <span class="relative flex shrink-0 overflow-hidden rounded-full w-6 h-6" alt="User Profile"></span>
                </button>
            </div>
        </header>

        <!-- Main Window -->
        <main class="container mx-auto padx-6 pady-12">

            <!-- Title -->
            <h1 class="title">
                Neural Networks
            </h1>

            <!-- Active Network -->
            <h2 class="subtitle">
                Active Network
            </h2>

            <div>
                <!-- Active Layer Card -->
                <div class="grid grid-cols-3 grid-gap-6 w-full" id="activeNetworkContainer"></div>
            </div>

            <!-- Saved Networks -->
            <h2 class="subtitle mt-8">
                Saved networks
            </h2>

            <div class="grid grid-cols-3 grid-gap-6" id="savedNetworks">

                <!-- Add Newtork Card -->
                <div class="card" id="addNetworkCard">
                    <div class="h-65 bg-grey-600 pad-4 items-center justify-center rounded-top">
                        <button class="button button-square border" onclick="addNetwork()" id="addNetworkButton">
                            <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path d="M5 12h14"></path>
                                <path d="M12 5v14"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Train Network Pop Up -->
            <div id="trainNetworkPopup" class="popup" style="display: none;">
                <div class="popup-content card pad-4 flex-col items-center">
                    <h1 class="subtitle mb-4" id="trainNetworkPopupTitle">
                        Pop-up Window</h1>
                    <div class="flex-col items-center w-full">
                        <div class="flex justify-between align-center w-full">
                            <!-- <hr class="button-divider"> -->
                            <label class="label" for="trainNetworkEpochs"
                                style="margin-left: 10%; margin-right: 1rem;">Epochs</label>
                            <input class="button border bg-grey-700 text-gray-300" type="number" id="trainNetworkEpochs"
                                min="1" value="1" style="width: 20%;">
                            <hr class="button-divider">
                        </div>
                        <div class="flex justify-between mt-4">
                            <button class="button button-green mr-2" type="submit" id="trainNetworkButton"
                                onClick="trainNetworkFromPopUp()">
                                Train </button>
                            <button class="button button-red bg-red-500" type="submit" id="trainNetworkCancelButton"
                                onclick="toggleTrainPopup()">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
        </main>
    </div>
</body>

</html>