<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/layout.css">
    <title>This totally works</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" sizes="16x16">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
</head>

<body>
    <div class="bg-grey-800 full-view">

        <!-- Header -->
        <header class="h-20 w-full items-center padx-6">

            <!-- Logo -->
            <div>
                <a class="flex pad-4" href="#">
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path d="M4 15s1-1 4-1 5 2 8 2 4-1 4-1V3s-1 1-4 1-5-2-8-2-4 1-4 1z"></path>
                        <line x1="4" x2="4" y1="22" y2="15"></line>
                    </svg>
                </a>
            </div>

            <!-- Title -->
            <div class="nav-title ml-2">Neural Networks</div>
            <nav class="justify-flex"></nav>

            <!-- User Profile -->
            <div>
                <button class="button button-square border">
                    <span class="relative flex shrink-0 overflow-hidden rounded-full w-6 h-6" alt="User Profile"></span>
                </button>
            </div>
        </header>

        <!-- Main Window -->
        <main class="container mx-auto padx-6 pady-12">

            <!-- Title -->
            <h1 class="title">Welcome to Neural Networks Homepage</h1>

            <!-- Active Network -->
            <h2 class="subtitle">Active Network</h2>
            <div>

                <!-- Active Layer Card -->
                <div class="grid grid-cols-3 grid-gap-6 w-full">
                    <div class="card" id="network-1">

                        <div class="h-65 bg-grey-600 pad-4 rounded-top">
                            <h2 class="card-title">Network 1</h2>
                            <span id="activeNetworkStatus">Status: Inactive</span>
                        </div>

                        <div class="h-35 pad-4 items-center rounded-bottom">
                            <!-- Disable (grey) whilst network is active -->
                            <button class="button button-blue" type="submit" onclick="redirectEditNetwork('network-1')"
                                id="activeViewButton">View</button>
                            <button class="button button-blue ml-4" type="submit" onclick="replaceActiveNetwork()"
                                id="activeReplaceButton">Replace</button>
                            <button class="button button-square button-green border ml-4" id="activateNetworkButton"
                                onclick="toggleActiveLayer()">
                                <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M18.36 6.64a9 9 0 1 1-12.73 0"></path>
                                    <line x1="12" x2="12" y1="2" y2="12"></line>
                                </svg>
                            </button>
                            <span class="ml-4" id="activateNetworkLabel">Activate</span>
                        </div>

                    </div>
                </div>
            </div>

            <script>
                function toggleActiveLayer() {
                    activeNetworkStatus = document.getElementById("activeNetworkStatus");
                    activateNetworkLabel = document.getElementById("activateNetworkLabel");
                    activateNetworkButton = document.getElementById("activateNetworkButton");
                    activeEditButton = document.getElementById("activeEditButton");
                    activeReplaceButton = document.getElementById("activeReplaceButton");

                    if (activeNetworkStatus.innerHTML == "Status: Inactive") {
                        activeNetworkStatus.innerHTML = "Status: Active";
                        activateNetworkLabel.innerHTML = "Deactivate";
                        activateNetworkButton.classList.remove("button-green");
                        activateNetworkButton.classList.add("button-red");
                        activeEditButton.disabled = true;
                        activeReplaceButton.disabled = true;
                    } else {
                        activeNetworkStatus.innerHTML = "Status: Inactive";
                        activateNetworkLabel.innerHTML = "Activate";
                        activateNetworkButton.classList.remove("button-red");
                        activateNetworkButton.classList.add("button-green");
                        activeEditButton.disabled = false;
                        activeReplaceButton.disabled = false;
                    }
                }
            </script>

            <!-- Saved Networks -->
            <h2 class="subtitle mt-8">Saved Networks</h2>
            <div class="grid grid-cols-3 grid-gap-6" id="savedNetworks">

                <!-- Add Newtork Card -->
                <div class="card" id="addNetworkCard">
                    <div class="h-65 bg-grey-600 pad-4 items-center justify-center rounded-top">
                        <button class="button button-square border" onclick="addNetwork()">
                            <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path d="M5 12h14"></path>
                                <path d="M12 5v14"></path>
                            </svg>
                        </button>
                    </div>
                </div>

                <script>
                    function getNetworks(func) {

                        fetch("/get-networks", {
                            method: "GET",
                            headers: {
                                "Content-Type": "application/json"
                            }
                        })
                            .then(response => response.json())
                            .then(data => {
                                console.log(data);
                                func(data);
                            })
                            .catch(error => {
                                console.error("Error fetching networks:", error);
                            });
                    }


                    function loadNetworks(networksToLoad = {}) {

                        if (Object.keys(networksToLoad).length == 0) {
                            networksToLoad = getNetworks(loadNetworks);
                            return;
                        }

                        savedNetworks = document.getElementById("savedNetworks");
                        addNetworkCard = document.getElementById("addNetworkCard");

                        savedNetworks.innerHTML = "";

                        for (networkId in networksToLoad) {
                            if (networksToLoad[networkId].status == "active") {
                                // Will be replaced by active network card
                                continue;
                            } else {
                                console.log(networkId);
                                console.log(!networksToLoad[networkId].trained);
                                savedNetworks.innerHTML += `<div class="card" id="${networkId}">
                                <div class="h-65 bg-grey-600 pad-4 rounded-top">
                                    <div style="display: flex; align-items: center;">
                                        <h2 class="card-title">Network ${networkId.split('-')[1]}</h2>
                                        <!-- Network Status -->
                                        <span class="ml-2 bg-red-500 text-dark-grey padx-2 pady-1 rounded-full text-xs" id="validationStatus">Invalid</span>
                                        <span class="ml-2 bg-blue-500 text-dark-grey padx-2 pady-1 rounded-full text-xs" id="trainingStatus" hidden>Trained</span>
                                    </div>
                                    <!-- Training Progress -->
                                    <div id="trainingCard" hidden>
                                        <div class="ml-1">
                                            <h3 class="text-sm text-semi-bold">Training Progress</h3>
                                            <span class="text-sm" id="epoch">Preparing Environment...</span>
                                            <span class="text-sm" id="error"></span>
                                            <span class="text-sm" id="accuracy"></span>
                                            <span class="text-sm" id="eta"></span>
                                        </div>

                                        <div class="mt-1" style="display: flex; align-items: center;">
                                            <progress class="progress-bar" value="0" max="100" id="trainingProgressBar"></progress>
                                            <span class="text-sm ml-2 mt-375" id="trainingProgressPercentage">0%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="h-35 pad-4 items-center rounded-bottom">
                                    <button onclick="redirectEditNetwork('${networkId}')"
                                        class="button button-blue" type="submit" id="editButton">
                                        Edit
                                    </button>
                                    <button onclick="trainNetwork('${networkId}')"
                                        class="button button-blue ml-4" type="submit" id="trainButton">
                                        Train
                                    </button>
                                    <button onclick="deleteNetwork('${networkId}')" 
                                    class="button button-red ml-4" type="submit" id="deleteButton">
                                        Delete
                                    </button>
                                </div>
                            </div>`;
                            }

                            if (networksToLoad[networkId].trained == true) {
                                networkCard = document.getElementById(networkId);
                                trainingStatus = networkCard.querySelector("#trainingStatus");
                                trainingStatus.hidden = false;
                            }
                        }

                        savedNetworks.innerHTML += addNetworkCard.outerHTML;

                        networks = networksToLoad;

                        validateNetworks();

                        checkActiveTraining();
                    }

                    function addNetwork() {
                        // NetworkId
                        IdNum = Math.floor(999 + Math.random() * 1000);
                        while (`network-${IdNum}` in networks) {
                            IdNum = Math.floor(999 + Math.random() * 1000);
                        }

                        console.log(IdNum);

                        networks[`network-${IdNum}`] = {
                            "name": `Network ${IdNum}`,
                            "layers": {},
                            "inputSize": 0,
                            "outputSize": 0,
                            "valid": false,
                            "status": "inactive",
                            "trained": false
                        };

                        saveNetwork(`network-${IdNum}`);

                        loadNetworks(networks);
                    }

                    function redirectEditNetwork(networkId) {
                        if (networks[networkId].trained == true) {
                            if (confirm('Network is trained, editing will reset training. Are you sure you want to continue?')) {
                                // Ok
                                networks[networkId].trained == false;
                                console.log('Ok, redirecting to edit network');
                            } else {
                                // Cancel
                                return;
                            }
                        }

                        console.log("unload");
                        if (eventSource) {
                            eventSource.close();
                        }

                        window.location.href = `/edit-network?networkId=${networkId}`;
                    }

                    function validateNetworks() {
                        for (networkId in networks) {
                            network = networks[networkId];
                            if (network.status == "active") {
                                continue;
                            }
                            validationStatus = document.getElementById(networkId).querySelector("#validationStatus");
                            if (network.valid == false) {
                                validationStatus.innerHTML = "Invalid";
                                validationStatus.classList.remove("bg-green-500");
                                validationStatus.classList.add("bg-red-500");
                            } else {
                                validationStatus.innerHTML = "Valid";
                                validationStatus.classList.remove("bg-red-500");
                                validationStatus.classList.add("bg-green-500");
                            }
                        }
                    }

                    function loadTrainingStatus(networkId, data) {
                        // Get network card
                        networkCard = document.getElementById(networkId);
                        trainingCard = networkCard.querySelector("#trainingCard");
                        trainingCard.hidden = false;

                        // Get training progress bar
                        trainingProgressBar = trainingCard.querySelector("#trainingProgressBar");
                        trainingProgressPercentage = trainingCard.querySelector("#trainingProgressPercentage");

                        trainingProgressBar.value = data.epoch / data.epochs * 100;
                        trainingProgressPercentage.innerHTML = `${Math.round(data.epoch / data.epochs * 100)}%`;

                        epoch = trainingCard.querySelector("#epoch");
                        epoch.innerHTML = `Epoch ${data.epoch}/${data.epochs},`;

                        error = trainingCard.querySelector("#error");
                        error.innerHTML = `Error: ${data.error},`;

                        accuracy = trainingCard.querySelector("#accuracy");
                        accuracy.innerHTML = `Accuracy: ${data.accuracy}%,`;

                        epochEta = trainingCard.querySelector("#eta");
                        epochEta.innerHTML = `ETA: ${data.epochEta} (${data.totalEta})`;

                    }

                    function loadTrainingSSE(networkId, data = null) {

                        console.log("loadTrainingSSE", networkId);
                        console.log("loadTrainingSSE", data);

                        // Get network card
                        networkCard = document.getElementById(networkId);
                        trainingCard = networkCard.querySelector("#trainingCard");
                        trainingCard.hidden = false;

                        eventSource = new EventSource('/sse');

                        eventSource.onmessage = function (event) {
                            console.log(event.data);

                            var eventData = JSON.parse(event.data)
                            var data = eventData.data;
                            var networkId = eventData.networkId;

                            if (data.status == "done") {
                                trainingCard.hidden = true;

                                // Set edit, train and delete buttons to enabled
                                editButton = networkCard.querySelector("#editButton");
                                trainButton = networkCard.querySelector("#trainButton");
                                deleteButton = networkCard.querySelector("#deleteButton");

                                editButton.disabled = false;
                                trainButton.disabled = false;
                                deleteButton.disabled = false;

                                // Set network to trained
                                console.log("setTrained", networkId);
                                console.log(networks)
                                network = networks[networkId];
                                network.trained = true;

                                networkCard = document.getElementById(networkId);
                                trainingStatus = networkCard.querySelector("#trainingStatus");
                                trainingStatus.hidden = false;

                                eventSource.close();
                                return;
                            }

                            loadTrainingStatus(networkId, data);
                        };

                        eventSource.onerror = function (error) {
                            console.error('EventSource failed:', error);
                            eventSource.close();
                        };

                        if (data != null) {
                            loadTrainingStatus(networkId, data);
                        }

                        // Set edit, train and delete buttons to disabled
                        networkCard = document.getElementById(networkId);
                        editButton = networkCard.querySelector("#editButton");
                        trainButton = networkCard.querySelector("#trainButton");
                        deleteButton = networkCard.querySelector("#deleteButton");

                        editButton.disabled = true;
                        trainButton.disabled = true;
                        deleteButton.disabled = true;
                    }

                    function trainNetwork(networkId) {

                        if (networks[networkId].trained == true) {
                            if (confirm('Network is trained, continuing will reset training. Are you sure you want to continue?')) {
                                // Ok
                                // TODO: Remove trained flag if user continues
                                console.log('Ok, redirecting to edit network');
                            } else {
                                // Cancel
                                return;
                            }
                        }

                        network = networks[networkId];

                        if (network.valid == false) {
                            alert("Network is invalid, please edit and validate before training");
                            return;
                        }

                        if (network.status == "active") {
                            alert("Network is already active, please replace before training");
                            return;
                        }

                        loadTrainingSSE(networkId);

                        fetch("/train-network", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify({
                                "networkId": networkId,
                                "network": network
                            })
                        })
                            .then(response => response.json())
                            .then(data => {
                                console.log(data);
                            })
                            .catch(error => {
                                console.error("Error training network:", error);
                            });
                    }

                    function checkActiveTraining() {
                        fetch("/active-training-sse", {
                            method: "GET",
                            headers: {
                                "Content-Type": "application/json"
                            }
                        })
                            .then(response => response.json())
                            .then(data => {
                                console.log(data);
                                console.log(data.active);
                                if (data.active == true) {
                                    loadTrainingSSE(data.networkId, data.data);
                                }
                            })
                            .catch(error => {
                                console.error("Error fetching active training sse:", error);
                            });
                    }

                    function deleteNetwork(networkId) {
                        if (confirm('Are you sure you want to delete this network?')) {
                            // Ok
                            console.log('Ok, deleting network');
                        } else {
                            // Cancel
                            return;
                        }

                        fetch("/delete-network", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify({
                                "networkId": networkId
                            })
                        })
                            .then(response => response.json())
                            .then(data => {
                                console.log(data);
                                loadNetworks(data);
                            })
                            .catch(error => {
                                console.error("Error deleting network:", error);
                            });
                    }

                    function replaceActiveNetwork() {

                        activeNetworkStatus = document.getElementById("activeNetworkStatus");

                        if (activeNetworkStatus.innerHTML == "Status: Active") {
                            alert("Active network must be deactivated before replacing");
                        }

                        if (confirm('Are you sure you want to replace the active network?')) {
                            // Ok
                            console.log('Ok, replacing network');
                        } else {
                            // Cancel
                            return;
                        }
                    }

                    function saveNetwork(networkId) {
                        fetch('/save-network', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({ 'networkId': networkId, 'layers': {}, 'inputSize': 0, 'outputSize': 0 }),
                        })
                            .then((response) => response.json())
                            .then((data) => {
                                console.log('Success:', data);
                            })
                            .catch((error) => {
                                console.error('Error:', error);
                            });
                    }

                    let networks = {};

                    loadNetworks();

                    var eventSource = null;

                    console.log('outer', networks)
                </script>

            </div>
        </main>
    </div>
</body>

</html>