<!doctype html>
<html lang="en">

<!-- Sortable library  for drag-and-drop animation -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>

<!-- TODO: Input for network name -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/layout.css">
    <title>This totally works</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" sizes="16x16">
</head>

<script>
    // TODO: Make input and output layer sizes configurable
    const inputLayerSize = "10";
    const outputLayerSize = "1";

    let layers = {};


    var flaskData = JSON.parse('{{ data| tojson }}');

    console.log(flaskData);

    networkId = flaskData.networkId;

    if (flaskData.layers) {
        layers = flaskData.layers;
    }

    console.log(layers)

</script>

<body>
    <div class="sidebar-grid full-view bg-grey-900">

        <!-- Sidebar -->
        <div class="border-right bg-grey-800">
            <div class="flex-col gap-2">

                <!-- Back Button -->
                <div class="h-15 items-center border-bottom padx-6 button-text">
                    <a class="items-center gap-2" onclick="redirectIndex()">
                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path d="m12 19-7-7 7-7"></path>
                            <path d="M19 12H5"></path>
                        </svg>
                        <span>Back to Network Menu</span>
                    </a>
                </div>

                <!-- Network Configuration Title -->
                <div class="h-15 items-center border-bottom padx-6 button-text">
                    <a class="items-center gap-2" href="#">
                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round">
                            <polyline points="16 18 22 12 16 6"></polyline>
                            <polyline points="8 6 2 12 8 18"></polyline>
                        </svg>
                        <span>NeuralNet Config</span>
                    </a>
                </div>

                <!-- Network Layer Overview -->
                <div class="pady-2 padx-4">
                    <nav class="grid text-sm gap-2" id="layersView">
                        <!-- TODO: Add layer text colour changes when selected -->
                    </nav>

                    <script>

                        // Enable Sortable.js
                        const layersView = document.getElementById("layersView");

                        // Initialize Sortable on the layersView container
                        const sortable = new Sortable(layersView, {
                            animation: 150,
                            handle: ".handle",
                            onUpdate: (evt) => updateLayerOrder(evt),
                        });

                        function addLayer(layerId, layerName, layerType) {

                            layers[layerId] = {
                                "layerName": layerName,
                                "layerType": layerType,
                                "layerConfig": {
                                    // Default layer configuration values
                                    "inputSize": 0,
                                    "outputSize": 0,
                                    "activation": "sigmoid"
                                },
                                "valid": false,
                                "errors": []
                            };

                            // Add layer to layer overview
                            const layersView = document.getElementById("layersView");

                            layer = `<div aria-grabbed="false" id="${layerId}"
                                class="navMargin flex items-center gap-3 rounded bg-grey-700 padx-3 pady-2 text-grey transition-all hover:text-white cursor-move"
                                onclick="selectLayer('${layerId}')">

                                <!-- Drag and Drop Layer Icon -->
                                <!-- TODO: Make so only movable via the icon selection -->
                                <svg class="handle h-4 w-4 text-grey" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <line x1="4" x2="20" y1="12" y2="12"></line>
                                    <line x1="4" x2="20" y1="6" y2="6"></line>
                                    <line x1="4" x2="20" y1="18" y2="18"></line>
                                </svg>

                                <!-- Layer Name -->
                                ${layerName}

                                <!-- Layer Status -->
                                <!-- TODO: Automatically set to invalid as layer not yet configured -->
                                <span class="ml-auto bg-green-500 text-dark-grey padx-2 pady-1 rounded-full text-xs"
                                    id="validationStatus">Valid</span>
                            </div>`;

                            layersView.innerHTML += layer;

                            // Validate layers
                            validateLayers();

                            saveNetwork();
                        }

                        function selectLayer(layerId) {
                            console.log("Selected layer: " + layerId);

                            loadLayerConfiguration(layerId);
                        }

                        function validateLayers() {

                            for (const layerId in layers) {
                                const idNum = parseInt(layerId.split("-")[1]);
                                layers[layerId]["valid"] = true;
                                layers[layerId]["errors"] = [];

                                //Check inputSize
                                if (layers[layerId]["layerConfig"]["inputSize"] <= 0) {
                                    layers[layerId]["valid"] = false;
                                    layers[layerId]["errors"].push("Input size must be a positive integer");
                                }

                                if (idNum == 1) {
                                    // First layer
                                    if (layers[layerId]["layerConfig"]["inputSize"] != inputLayerSize) {
                                        layers[layerId]["valid"] = false;
                                        layers[layerId]["errors"].push("Input size must match network input size of " +
                                            inputLayerSize);
                                    }
                                } else {
                                    // Previous layer exists
                                    if (layers[layerId]["layerConfig"]["inputSize"] != layers["layer-" + (idNum - 1)][
                                        "layerConfig"]["outputSize"]) {
                                        layers[layerId]["valid"] = false;
                                        layers[layerId]["errors"].push("Input size must match previous layer's output size of " +
                                            layers["layer-" + (idNum - 1)]["layerConfig"]["outputSize"]);
                                    }
                                }

                                // Check outputSize
                                if (layers[layerId]["layerConfig"]["outputSize"] <= 0) {
                                    layers[layerId]["valid"] = false;
                                    layers[layerId]["errors"].push("Output size must be a positive integer");
                                }

                                if ("layer-" + (idNum + 1) in layers) {
                                    // Next layer exists
                                    if (layers[layerId]["layerConfig"]["outputSize"] != layers["layer-" + (idNum + 1)][
                                        "layerConfig"]["inputSize"]) {
                                        layers[layerId]["valid"] = false;
                                        layers[layerId]["errors"].push("Output size must match next layer's input size of " +
                                            layers["layer-" + (idNum + 1)]["layerConfig"]["inputSize"]);
                                    }
                                } else {
                                    // Next layer does not exist, must be the last layer
                                    if (layers[layerId]["layerConfig"]["outputSize"] != outputLayerSize) {
                                        layers[layerId]["valid"] = false;
                                        layers[layerId]["errors"].push("Output size must match network output size of " +
                                            outputLayerSize);
                                    }
                                }

                                // Update validation status
                                const layer = document.getElementById(layerId);
                                let validationStatus = layer.querySelector("#validationStatus");

                                if (layers[layerId]["valid"]) {
                                    validationStatus.innerHTML = "Valid";
                                    validationStatus.classList.remove("bg-red-500");
                                    validationStatus.classList.add("bg-green-500");
                                } else {
                                    validationStatus.innerHTML = "Invalid";
                                    validationStatus.classList.remove("bg-green-500");
                                    validationStatus.classList.add("bg-red-500");
                                }
                            }
                        }

                        function updateLayerOrder(event) {
                            // Get order of layers
                            const layersView = document.getElementById("layersView");
                            const newLayers = {};

                            let count = 1;
                            for (const layer of layersView.children) {
                                const newId = 'layer-' + count;
                                const prevId = layer.id;

                                newLayers[newId] = layers[prevId];
                                layer.id = newId;
                                layer.onclick = function () {
                                    selectLayer(newId);
                                };
                                count++;
                            }

                            layers = newLayers;

                            // Validate layers
                            validateLayers();

                            saveNetwork();

                            console.log(layers);
                        }

                    </script>
                </div>

                <!-- Add Layer Button -->
                <div class="padx-4">
                    <button class="button button-blue w-full bg-blue-500" type="button"
                        onclick="togglePopup('newLayerPopup')">
                        Add a new layer
                    </button>
                </div>

                <!-- TODO: Redesign popup -->
                <div id="newLayerPopup" class="popup" style="display: none;">
                    <div class="popup-content card pad-4 flex-col items-center">
                        <h1 class="subtitle mb-4">
                            Pop-up Window</h1>
                        <!-- TODO: Dynamically assign layer types -->
                        <div class="flex-col items-center w-full">
                            <button class="layer-button" onclick="selectLayerType('Dense Layer', 'dense')"
                                id="newLayerSelection-dense">Dense
                                Layer</button>
                            <hr class="button-divider">
                            <button class="layer-button" onclick="selectLayerType('Recurrent Layer', 'recurrent')"
                                id="newLayerSelection-recurrent">Recurrent Layer</button>
                            <hr class="button-divider">
                            <button class="layer-button" onclick="selectLayerType('LSTM Layer', 'lstm')"
                                id="newLayerSelection-lstm">LSTM
                                Layer</button>
                        </div>
                        <div class="flex justify-between mt-4">
                            <button class="button bg-grey-700 mr-2" type="submit" id="newLayerPopupAddButton">
                                Add
                            </button>
                            <button class="button button-red bg-red-500" type="submit"
                                onclick="togglePopup('newLayerPopup')">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>

                <script>
                    function togglePopup(elementId) {
                        const popup = document.getElementById(elementId);
                        popup.style.display = popup.style.display === "none" ? "block" : "none";
                    }

                    function selectLayerType(layerName, layerType) {
                        // Change the colour of the selected button
                        const layerButton = document.getElementById("newLayerSelection-" + layerType);
                        layerButton.classList.add("selected");

                        // Change the colour of the other buttons
                        for (const button of document.getElementsByClassName("layer-button")) {
                            if (button.id != layerButton.id) {
                                button.classList.remove("selected");
                            }
                        }

                        // Determine the layerId
                        let num = 1;
                        while (true) {
                            if (!("layer-" + num in layers)) {
                                break;
                            }
                            num++;
                        }

                        const layerId = "layer-" + num;

                        // Change the onclick function of the add button to add the selected layer type
                        const addButton = document.getElementById("newLayerPopupAddButton");
                        addButton.onclick = function () {
                            addLayerPopup(layerId, layerName, layerType);
                        };

                        // Change the colour of the add button to green
                        addButton.classList.remove("bg-green-700");
                        addButton.classList.add("bg-green-500");
                        addButton.classList.add("hover:bg-green-700");
                    }

                    function addLayerPopup(layerId, layerName, layerType) {
                        togglePopup("newLayerPopup");

                        // Change the colour of the add button back to grey
                        for (const button of document.getElementsByClassName("layer-button")) {
                            button.classList.remove("selected");
                        }

                        // Remove the onclick function of the add button
                        const addButton = document.getElementById("newLayerPopupAddButton");
                        addButton.onclick = function () { };

                        // Change the colour of the add button to grey
                        addButton.classList.remove("bg-green-500");
                        addButton.classList.remove("hover:bg-green-700");
                        addButton.classList.add("bg-green-700");

                        // Add the layer
                        addLayer(layerId, layerName, layerType);
                    }
                </script>

            </div>
        </div>

        <!-- Layer Configuration Window -->
        <div class="flex-col gap-8 pad-6 text-grey">

            <!-- Layer Configuration Title -->
            <div class="flex items-center">
                <h1 class="subtitle" id="layerConfigurationTitle">
                    Layer Configuration
                </h1>
            </div>

            <!-- Layer Configuration Options Subwindow -->
            <div class="card bg-grey-800 border-grey">
                <div class="pad-4" id="layerConfigurationOptionsWindow" hidden>

                    <!-- Error Message -->
                    <!-- TODO: Change to dynamically appear if there is an error with the selected layer -->
                    <div class="border border-red mb-4 rounded bg-red-500" id="ConfigurationErrorBox">
                        <p class="text-white p-4" id="ConfigurationErrorBoxHeader">
                        </p>
                        <ul style="list-style-type: disc; margin-top:-30px;" class="text-white p-4 pl-8"
                            id="ConfigurationErrorBoxList">
                        </ul>
                    </div>

                    <!-- Interactable Layer Option -->
                    <form>
                        <!-- Input Size-->
                        <div class="mb-4">
                            <label class="text-sm text-grey">
                                Input Size
                            </label>
                            <input type="number" class="button border bg-grey-700 text-gray-300 w-full" id="inputSize">
                        </div>

                        <!-- Output Size -->
                        <div class="mb-4">
                            <label class="text-sm text-grey">
                                Output Size
                            </label>
                            <input type="number" class="button border bg-grey-700 text-gray-300 w-full" id="outputSize">
                        </div>

                        <!-- Activation Selection -->
                        <div class="mb-4">
                            <label class="text-sm text-grey">Activation Function</label>
                            <div>
                                <select class="button border bg-grey-700 text-gray-300 w-full" id="activation">
                                    <option value="sigmoid">Sigmoid</option>
                                    <option value="tanh">Tanh</option>
                                </select>
                            </div>
                        </div>

                        <!-- Save Layer Configuration -->
                        <button class="button button-green bg-green-500 mr-4" type="submit"
                            onclick="saveLayerConfiguration('')" id="saveLayerConfigurationButton">
                            Save Configuration
                        </button>

                        <script>
                            function saveLayerConfiguration(layerId) {
                                // Prevent the default form submission behavior
                                // To stop the page from reloading when the form is submitted
                                event.preventDefault();

                                // TODO: Validate layerId
                                if (!(layerId in layers)) {
                                    console.log("Layer does not exist!");
                                    return;
                                }

                                // Get Layer Configuration Values
                                const inputSize = document.getElementById("inputSize").value;
                                const outputSize = document.getElementById("outputSize").value;
                                const activation = document.getElementById("activation").value;

                                // console.log("Input Size: " + inputSize + "\nOutput Size: " + outputSize +
                                //     "\nActivation: " + activation);

                                // TODO: Save layer configuration if valid
                                layers[layerId]["layerConfig"] = {
                                    "inputSize": inputSize,
                                    "outputSize": outputSize,
                                    "activation": activation
                                };

                                validateLayers();

                                // Change Error Box
                                if (layers[layerId]["valid"]) {
                                    document.getElementById("ConfigurationErrorBox").style.display = "none";
                                } else {
                                    document.getElementById("ConfigurationErrorBox").style.display = "block";
                                    document.getElementById("ConfigurationErrorBoxHeader").innerHTML = "Invalid Layer Configuration";
                                    document.getElementById("ConfigurationErrorBoxList").innerHTML = "";

                                    for (const error of layers[layerId]["errors"]) {
                                        document.getElementById("ConfigurationErrorBoxList").innerHTML += "<li>" + error +
                                            "</li>";
                                    }
                                }

                                console.log(layers);

                                // alert("Layer configuration saved!");

                                saveNetwork();
                            }

                            function resolvePlaceholder() {
                                // Hide Placeholder
                                document.getElementById("layerConfigurationPlaceholder").style.display = "none";

                                // Show Layer Configuration Options
                                document.getElementById("layerConfigurationOptionsWindow").hidden = false;
                            }

                            function loadLayerConfiguration(layerId) {

                                resolvePlaceholder();

                                // TODO: Validation
                                if (!(layerId in layers)) {
                                    console.log("Layer does not exist!");
                                    return;
                                }

                                // Change Configuration Title
                                document.getElementById("layerConfigurationTitle").innerHTML = layers[layerId][
                                    "layerName"
                                ] + " Configuration";

                                // Load Layer Configuration Values
                                document.getElementById("inputSize").value = layers[layerId]["layerConfig"][
                                    "inputSize"];
                                document.getElementById("outputSize").value = layers[layerId]["layerConfig"][
                                    "outputSize"];
                                document.getElementById("activation").value = layers[layerId]["layerConfig"][
                                    "activation"];

                                // Change Button onclick functions
                                document.getElementById("saveLayerConfigurationButton").onclick = function () {
                                    saveLayerConfiguration(layerId);
                                };
                                document.getElementById("deleteLayerConfigurationButton").onclick = function () {
                                    deleteLayer(layerId);
                                };

                                // Validate layers
                                validateLayers();

                                // Change Error Box
                                if (layers[layerId]["valid"]) {
                                    document.getElementById("ConfigurationErrorBox").style.display = "none";
                                } else {
                                    document.getElementById("ConfigurationErrorBox").style.display = "block";
                                    document.getElementById("ConfigurationErrorBoxHeader").innerHTML = "Invalid Layer Configuration";
                                    document.getElementById("ConfigurationErrorBoxList").innerHTML = "";

                                    for (const error of layers[layerId]["errors"]) {
                                        document.getElementById("ConfigurationErrorBoxList").innerHTML += "<li>" + error +
                                            "</li>";
                                    }
                                }
                            }

                        </script>

                        <!-- Delete Layer -->
                        <button class="button button-red bg-red-500" type="submit" onclick="deleteLayer()"
                            id="deleteLayerConfigurationButton">
                            Delete Layer
                        </button>

                        <script>

                            function deleteLayer(layerId) {

                                event.preventDefault();

                                // Remove layer from layer overview and increment layer numbers
                                for (const layer of document.getElementById("layersView").children) {
                                    if (layer.id == layerId) {
                                        layer.remove();
                                    } else if (parseInt(layer.id.split("-")[1]) > parseInt(layerId.split("-")[1])) {
                                        layer.id = "layer-" + (parseInt(layer.id.split("-")[1]) - 1);
                                        layer.onclick = function () {
                                            selectLayer("layer-" + (parseInt(layer.id.split("-")[1]) - 1));
                                        };
                                    }
                                }

                                // Remove layer from layers object and increment layer numbers
                                for (const layer in layers) {
                                    if (layer == layerId) {
                                        delete layers[layer];
                                    } else if (parseInt(layer.split("-")[1]) > parseInt(layerId.split("-")[1])) {
                                        layers["layer-" + (parseInt(layer.split("-")[1]) - 1)] = layers[layer];
                                        delete layers[layer];
                                    }
                                }

                                // Change layer configuration placeholder
                                document.getElementById("layerConfigurationTitle").innerHTML =
                                    "Layer Configuration";

                                // Change layer configuration options window
                                document.getElementById("layerConfigurationOptionsWindow").hidden = true;

                                // Show layer configuration placeholder
                                document.getElementById("layerConfigurationPlaceholder").style.display = "flex";

                                // TODO: Confirmation popup
                            }

                        </script>
                    </form>
                </div>

                <!-- Layer Configuration Placeholder -->
                <div class="justify-flex h-96" id="layerConfigurationPlaceholder">
                    <!-- TODO: Format the text -->
                    <p class="text text-grey pad-4">
                        Select a layer to configure it
                    </p>
                </div>

            </div>
        </div>
    </div>

    <script>

        function loadNetwork() {
            for (const layerId in layers) {
                const layerName = layers[layerId]["layerName"];
                const layersView = document.getElementById("layersView");

                layer = `<div aria-grabbed="false" id="${layerId}"
                                class="navMargin flex items-center gap-3 rounded bg-grey-700 padx-3 pady-2 text-grey transition-all hover:text-white cursor-move"
                                onclick="selectLayer('${layerId}')">

                                <!-- Drag and Drop Layer Icon -->
                                <!-- TODO: Make so only movable via the icon selection -->
                                <svg class="handle h-4 w-4 text-grey" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <line x1="4" x2="20" y1="12" y2="12"></line>
                                    <line x1="4" x2="20" y1="6" y2="6"></line>
                                    <line x1="4" x2="20" y1="18" y2="18"></line>
                                </svg>

                                <!-- Layer Name -->
                                ${layerName}

                                <!-- Layer Status -->
                                <!-- TODO: Automatically set to invalid as layer not yet configured -->
                                <span class="ml-auto bg-green-500 text-dark-grey padx-2 pady-1 rounded-full text-xs"
                                    id="validationStatus">Valid</span>
                            </div>`;

                layersView.innerHTML += layer;
            }

            // Validate layers
            validateLayers();
        }

        // Load new network configuration
        loadNetwork();

        function saveNetwork() {
            fetch('/save-network', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ 'networkId': networkId, 'layers': layers }),
            })
                .then((response) => response.json())
                .then((data) => {
                    console.log('Success:', data);
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }

        function redirectIndex() {
            window.location.href = "/";
        }

    </script>

</html>