<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">

<!-- Sortable library  for drag-and-drop animation -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>

<!-- Styles for drag-and-drop animation -->
<style>
    .sortable-chosen {
        background-color: rgba(255, 255, 255, 0.5) !important;
    }

    .sortable-ghost {
        opacity: 0.5;
    }
</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neural Network Designer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- Add jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>

    <!-- Add Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Add Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div id="Header"></div>

    <div class="container">
        <h1>Neural Network Designer</h1>

        <div class="row">
            <div class="col-md-8">
                <!-- Neural Network Layout -->
                <div id="neuralNetworkInput">
                    <!-- Input Layer -->
                    <div class="card mt-3">
                        <div class="card-body">
                            <h5 class="card-title">Input Layer</h5>
                            <p class="card-text">Layer Options...</p>
                        </div>
                    </div>
                </div>

                <div id="neuralNetworkLayout">
                    <!-- Layers will be dynamically added here -->
                </div>

                <!-- Add Layer Button -->
                <button class="btn btn-primary mt-3" onclick="addLayer()">Add Layer</button>

                <div id="neuralNetworkOutput">
                    <!-- Output Layer -->
                    <div class="card mt-3">
                        <div class="card-body">
                            <h5 class="card-title">Output Layer</h5>
                            <p class="card-text">Layer Options...</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <!-- Side Panel for Layer Options -->
                <div id="sidePanel" style="display: none;">
                    <!-- Layer Options will be dynamically added here -->
                </div>
            </div>
        </div>
    </div>

    <div id="Footer"></div>

    <script>
        // Counter for unique layer IDs
        let layerCounter = 1;

        // Network Shape
        const networkShape = {};

        // Default input output sizes
        // TODO: Make customisable
        const defaultInputSize = 40;
        const defaultOutputSize = 1;

        // Initialize Sortable
        const neuralNetworkLayout = document.getElementById('neuralNetworkLayout');
        const sortable = new Sortable(neuralNetworkLayout, {
            animation: 150,
            onUpdate: (evt) => updateLayerOrder(evt),
        });

        // Function to add a new layer
        function addLayer() {
            const newLayer = document.createElement('div');
            newLayer.innerHTML = `<div class="card mt-3", id="Layer ${layerCounter}">
                                    <div class="card-body">
                                        <h5 class="card-title"><span class="badge badge-danger">Invalid</span> Layer ${layerCounter}</h5>
                                        <p class="card-text">No layer options selected</p>
                                        <button class="btn btn-info" onclick="openSidePanel(${layerCounter})">Edit</button>
                                        <button class="btn btn-danger" onclick="removeLayer(${layerCounter})">Remove</button>
                                    </div>
                                </div>`;
            neuralNetworkLayout.appendChild(newLayer);

            // Add layer details to networkShape
            networkShape[layerCounter - 1] = {
                id: layerCounter,
                input: null,
                output: null,
                activation: null,
            };

            layerCounter++;
        }

        // Function to update layer order after drag-and-drop
        function updateLayerOrder(event) {
            const layers = neuralNetworkLayout.querySelectorAll(':scope > div');
            layers.forEach((layer, index) => {
                const cardBodyDiv = layer.querySelector('.card-body');
                if (cardBodyDiv) {
                    cardBodyDiv.querySelector('.card-title').textContent = `Layer ${index + 1}`;
                    cardBodyDiv.querySelector('.btn-info').setAttribute('onclick', `openSidePanel(${index + 1})`);
                    cardBodyDiv.querySelector('.btn-danger').setAttribute('onclick', `removeLayer(${index + 1})`);
                }
            });

            // Update layer Validity
            updateLayerValidity();

            // TODO: Update backend with new layer order information
        }

        function updateLayerValidity() {
            const layers = neuralNetworkLayout.querySelectorAll(':scope > div');
            layers.forEach((layer, index) => {
                const cardBodyDiv = layer.querySelector('.card-body');
                if (cardBodyDiv) {
                    const validationResult = validateLayer(index);
                    const validityHeader = validationResult.valid ? 'Valid' : 'Invalid';
                    const validityBadge = validationResult.valid ? 'badge-success' : 'badge-danger';
                    cardBodyDiv.querySelector('.card-title').innerHTML = `<span class="badge ${validityBadge}">${validityHeader}</span> Layer ${index + 1}`;

                    // TODO: Change the description of the layer to include the error message
                    // Show error message on hover of badge
                    cardBodyDiv.querySelector('.card-title').setAttribute('title', validationResult.message);
                }
            });
        }

        // Function to validate layer sizes
        function validateLayer(index) {
            const layer = networkShape[index];
            let isValid = false;

            // Check input size
            if (index == 0) {
                // First layer, check input size
                isValid = layer.input === defaultInputSize;
                console.log('CMP:', layer.input, defaultInputSize)
            } else {
                // Hidden layers, check input size
                isValid = layer.input === networkShape[index - 1].output;
                console.log('CMP:', layer.input, networkShape[index - 1].output)
            }

            if (!isValid) {
                return {
                    valid: isValid,
                    message: 'Invalid input size, must match previous layer output size',
                };
            }

            console.log('Index:', index, 'Length:', Object.keys(networkShape).length)
            if (index == Object.keys(networkShape).length - 1) {
                // Last layer, check output size
                isValid = layer.output === defaultOutputSize;
                console.log('CMP:', layer.output, defaultOutputSize)
            } else {
                // Hidden layers, check output size
                isValid = layer.output === networkShape[index + 1].input;
                console.log('CMP:', layer.output, networkShape[index + 1].input)
            }

            if (!isValid) {
                return {
                    valid: isValid,
                    message: 'Invalid output size, must match next layer input size',
                };
            } else {
                return {
                    valid: true,
                    message: 'Valid',
                };
            }

            console.log('isValid:', isValid )
        }

        // Function to remove a layer
        function removeLayer(layerId) {
            // TODO: Select the layer to remove via layerId
            const neuralNetworkLayout = document.getElementById('neuralNetworkLayout');
            const layers = neuralNetworkLayout.querySelectorAll(':scope > div');

            // Check if layerId is valid
            if (layerId < 1 || layerId > layers.length) {
                console.error('Invalid layerId:', layerId);
                return;
            }

            // Remove the layer
            const layerToRemove = layers[layerId - 1];
            neuralNetworkLayout.removeChild(layerToRemove);

            // Remove layer details from networkShape
            networkShape.splice(layerId - 1, 1);

            layerCounter--;

            // Assert that layerCounter is correct
            if (layerCounter !== layers.length) {
                console.error('layerCounter is incorrect:', layerCounter, layers.length);
                return;
            }

            // Update layer IDs
            updateLayerOrder();

            // TODO: Close side panel if open

            // TODO: Update backend with new layer information
        }

        // Function to open the side panel for layer options
        function openSidePanel(layerId) {
            // TODO: Add layer type option
            const sidePanel = document.getElementById('sidePanel');
            sidePanel.innerHTML = `<h4>Layer ${layerId} Options</h4>
                               <form>
                                    <div class="form-group">
                                        <label for="inputSize">Input Size:</label>
                                        <input type="text" class="form-control" id="inputSize" placeholder="Enter input size">
                                    </div>
                                    <div class="form-group">
                                        <label for="outputSize">Output Size:</label>
                                        <input type="text" class="form-control" id="outputSize" placeholder="Enter output size">
                                    </div>
                                    <div>
                                        <label for="activation">Activation Function:</label>
                                        <select class="form-control" id="activation">
                                            <option value="sigmoid">Sigmoid</option>
                                            <option value="tanh">Tanh</option>
                                        </select>
                                    </div>
                                    <button type="button" class="btn btn-success" onclick="saveLayer(${layerId})">Save</button>
                               </form>`;
            sidePanel.style.display = 'block';
        }

        // Function to save layer options
        function saveLayer(layerId) {
            let inputSize = document.getElementById('inputSize').value;
            let outputSize = document.getElementById('outputSize').value;
            const activation = document.getElementById('activation').value;

            // Validate input and output sizes are positive integers
            if (!isNaN(inputSize) && inputSize > 0) {
                inputSize = parseInt(inputSize);
            } else {
                console.error('Invalid input size, is not a positive integer:', inputSize);
                return;
            }

            if (!isNaN(outputSize) && outputSize > 0) {
                outputSize = parseInt(outputSize);
            } else {
                console.error('Invalid output size, is not a positive integer:', outputSize);
                return;
            }

            // Update layer details in networkShape
            networkShape[layerId - 1] = {
                id: layerId,
                input: inputSize,
                output: outputSize,
                activation: activation,
            };

            // Validate layer sizes
            const validationResult = validateLayer(layerId - 1);
            if (!validationResult.valid) {
                console.log(networkShape.length)
                console.error('Validation failed:', validationResult.message);
                // return;
            }

            // Send layer information to the server using AJAX
            fetch('/save_layer', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        layerId: layerId,
                        inputSize: inputSize,
                        outputSize: outputSize,
                        activation: activation,
                    }),
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Response from server:', data);

                    if (data.code !== '200') {
                        handleServerError(data.code, data.message);
                    }
                })
                .catch(error => console.error('Error:', error));

            // Close the side panel
            document.getElementById('sidePanel').style.display = 'none';

            updateLayerValidity();

            // TODO: Change layer description in neural network layout to reflect new layer information
            document.getElementById(`Layer ${layerId}`).querySelector('.card-text').innerHTML = `input size (${inputSize}), output size (${outputSize}), activation (${activation})`;
        }

        // Function to handle server errors
        function handleServerError(code, message) {
            const sidePanel = document.getElementById('sidePanel');
            const sidePanelForm = sidePanel.querySelector('form');

            const errorAlert = document.createElement('div');
            errorAlert.className = 'alert alert-danger';
            errorAlert.role = 'alert';
            errorAlert.innerHTML = `${code}: ${message}`;

            sidePanelForm.appendChild(errorAlert);
            sidePanel.style.display = 'block';
        }
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='jquery.resize.js')}}"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>

</body>

</html>
